*{
 margin: 0;   
}
body {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.content-satu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 55%;
    height: 50vh;
}
.box-produk {
    width: 131px;
    margin: 10px;
    height: 155px;
    border: 1px solid black;
    border-radius: 10px;
}
.img-box {
    max-width: 131px;
    height: 131px;
    border-radius: 10px;
}
.box-produk h4 {
    text-align: center;
}